.main-content-article {
    margin-top: 2.5rem;
}

.crew-member {
    padding: 1rem;
}

.crew-member-name {
    color: #FF7D00;
}

.crew-member-movie {
    cursor: pointer;
    text-decoration: underline 1px #086788;
}

/*horizontal scroll*/
:root {
    --gutter: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

/*movie info header*/

.header-main {
    
    margin-bottom: 3rem;
}

.header-image {
    width: 40%;
    max-height: 30rem;
    max-width: 25rem;
    min-width: 10rem;
    background-color: #012436;
}

.header-image img {
    width: 100%;
    height: 100%;
    margin: 1rem;
    margin-inline-start: 2rem;
    float: left;
    background-color: inherit;
    max-height: 33rem;
}

.header-description {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    margin-inline-start: 3rem;
    margin-inline-end: 2rem;
}

.header-desc-text {
    height: auto;
    width: 100%;
    text-align: center;
    font-size: large;
    color: #FF7D00;
    font-family: "Book Antiqua", serif;
}

.header-name {
    font-size: xx-large;
    color: #FFF6E9;
}

.header-birthplace {
    color: #FFF6E9;
}

.header-rating {
    color: #086788;
    margin-inline-start: 0!important;
}

.content-header-title span {
    font-size: x-large;
    margin: 0;
    margin-inline-start: 1rem;
}