@page "/"
@using SEP6_Blazor.Data
@using SEP6_Blazor.Models
@inject IProductionService ProductionService

<PageTitle>Index</PageTitle>

<div class="main-content-article">
    <SimpleSearchBar @bind-Result="SearchResults"/>
    <div>
        @if (SearchResults.ProductionResults.Count > 0)
        {
            @foreach (Production result in SearchResults.ProductionResults)
            {
                <div>@result.TVShowName, @result.Overview</div>
            }
        }
        else
        {
            <div>No Results.</div>
        }
    </div>
</div>


@code
{
    private Results SearchResults { get; set; } = new Results();

    private Results PopularMovies { get; set; } = new Results();
    private Results LatestMovies { get; set; } = new Results();
    private Results TopRatedMovies { get; set; } = new Results();
    private Results UpcomingMovies { get; set; } = new Results();
    private Results PopularTVShows { get; set; } = new Results();
    private Results LatestTVShows { get; set; } = new Results();
    private Results TopRatedTVShows { get; set; } = new Results();

    protected override async Task OnInitializedAsync()
    {
        SearchResults.ProductionResults = new List<Production>();

        PopularMovies = await ProductionService.GetPopularProductions("movie");
        LatestMovies = await ProductionService.GetLatestProductions("movie");
        TopRatedMovies = await ProductionService.GetTopRatedProduction("movie");
        UpcomingMovies = await ProductionService.GetUpcomingMovies();
        PopularTVShows = await ProductionService.GetPopularProductions("tv");
        LatestTVShows = await ProductionService.GetLatestProductions("tv");
        TopRatedTVShows = await ProductionService.GetTopRatedProduction("tv");

    }



}