@page "/"
@using SEP6_Blazor.Models

<PageTitle>Index</PageTitle>

<div class="main-content-article">
    <SimpleSearchBar @bind-Result="SearchResults"/>
    <div>
        @if (SearchResults.MovieResults.Count > 0)
        {
            @foreach (Movie result in SearchResults.MovieResults)
            {
                <div>@result.OriginalTitle, @result.Overview</div>
            }
        }
        else
        {
            <div>No Results.</div>
        }
    </div>
</div>


@code
{
    private Results SearchResults { get; set; } = new Results();

    protected override void OnInitialized()
    {
        SearchResults.MovieResults = new List<Movie>();
    }
}