@page "/"
@using SEP6_Blazor.Models
@using SEP6_Blazor.Data

@inject NavigationManager Navigation
@inject IProductionService ProductionService;

<div class="main-content-article">
    <SimpleSearchBar @bind-ComplexResult="ComplexSearchResults"/>

    @if (ComplexSearchResults.actorResuls.Count > 0 ||
         ComplexSearchResults.movieResults.ProductionResults.Count > 0 ||
         ComplexSearchResults.tvSeriesResult.ProductionResults.Count > 0)
    {
        <div class="content">
            @if (ComplexSearchResults.actorResuls.Count > 0)
            {
                <div class="content-header-title">
                    <span>Search Results - Actors</span>
                </div>
                <ul class="hs full">
                    @foreach (var result in ComplexSearchResults.actorResuls)
                    {
                        <PersonPosterItem personResult="result"/>
                    }
                </ul>
            }
            @if (ComplexSearchResults.movieResults.ProductionResults.Count > 0)
            {
                <div class="content-header-title">
                    <span>Movie Search Results</span>
                </div>
                <ul class="hs full">
                    @foreach (var result in ComplexSearchResults.movieResults.ProductionResults)
                    {
                        <ProductionPosterItem result="result"/>
                    }
                </ul>
            }
            @if (ComplexSearchResults.tvSeriesResult.ProductionResults.Count > 0)
            {
                <div class="content-header-title">
                    <span>TV Series Search Results</span>
                </div>
                <ul class="hs full">
                    @foreach (var result in ComplexSearchResults.tvSeriesResult.ProductionResults)
                    {
                        <ProductionPosterItem result="result"/>
                    }
                </ul>
            }
        </div>
    }

    @if (PopularProductions == null)
    {
        <div class="loader-holder">
            <div class="loader"></div>
        </div>
    }
    else
    {
        <div class="content">

            @if (PopularProductions.ProductionResults.Count > 0)
            {
                <div class="content-header-title">
                    <span>Popular Productions</span>
                </div>
                <ul class="hs full">
                    @foreach (var result in PopularProductions.ProductionResults)
                    {
                        <ProductionPosterItem result="result"/>
                    }
                </ul>
            }

            @if (TopRatedProductions.ProductionResults.Count > 0)
            {
                <div class="content-header-title">
                    <span>Top Rated Productions</span>
                </div>
                <ul class="hs full">
                    @foreach (var result in TopRatedProductions.ProductionResults)
                    {
                        <ProductionPosterItem result="result"/>
                    }
                </ul>
            }

            @if (LatestProduction.ProductionResults.Count > 0)
            {
                <div class="content-header-title">
                    <span>Latest Productions</span>
                </div>
                <ul class="hs full">
                    @foreach (var result in LatestProduction.ProductionResults)
                    {
                        <ProductionPosterItem result="result"/>
                    }
                </ul>
            }
        </div>
    }
</div>


@code
{
    private ComplexResult ComplexSearchResults { get; set; } = new ComplexResult(new Results(), new Results(), new List<Person>());

    private Results PopularProductions { get; set; } = new Results();
    private Results TopRatedProductions { get; set; } = new Results();
    private Results LatestProduction { get; set; } = new Results();

    protected override async Task OnInitializedAsync()
    {
        PopularProductions = await ProductionService.GetPopularProductions("movie");
        var others = await ProductionService.GetPopularProductions("tv");
        PopularProductions.ProductionResults.AddRange(others.ProductionResults);

        TopRatedProductions = await ProductionService.GetTopRatedProduction("movie");
        others = await ProductionService.GetTopRatedProduction("tv");
        TopRatedProductions.ProductionResults.AddRange(others.ProductionResults);

        LatestProduction.ProductionResults = new List<Production>();
        var other = await ProductionService.GetLatestProduction("movie");
        LatestProduction.ProductionResults.Add(other);
        other = await ProductionService.GetLatestProduction("tv");
        LatestProduction.ProductionResults.Add(other);
    }
}