@page "/ListsPage"
@using SEP6_Blazor.Data
@using SEP6_Blazor.Models
@attribute [Authorize]

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IUserService UserService
@inject IProductionService ProductionService
@inject IUserService UserService


<h3>ListsPage</h3>


 @if (UserLists.Count > 0){
     @foreach (UserList List in UserLists){
                <h5>@List.ListName</h5>
                <p> @List.Id</p>
       }
 }


@code {


    private List<UserList> UserLists = new List<UserList>();
    private string UserId { get; set; } = "";
    private List<Production> Productions = new List<Production>();

    protected override async Task OnInitializedAsync()
    {
        UserId =  await UserService.GetUserId(AuthenticationStateProvider);
        UserLists = await UserService.GetUserLists(UserId);

    }

    //when clicking a list name -get movies and tvshows
    private async Task getProductionsInList(string ListId)
    {
        //--------- GetProductionsInListById is not correctly implemented yet----
        Productions = await UserService.GetProductionsInListById(ListId);
    }
   

}