#content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 80vh;
    overflow: hidden;
    padding: 20px;
}

#leftList {
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 100vh;
    float: left;
    overflow-y: scroll;
    
}

#rightItems {
    width: 70vw;
    height: 100vh;

}
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: scroll;
    height: 100vh;
    gap: 10px;
}

.list {
    list-style: none;
    font-size: xx-large;
    text-align: center;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #012436;
}

::-webkit-scrollbar-thumb {
    background: #086788;
}

::-webkit-scrollbar-thumb:hover {
    background: #075876;
}