#content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 80vh;
    overflow: hidden;
}

#leftList {
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 100vh;
    float: left;
    overflow-y: scroll;
    
}

#rightItems {
    width: 70vw;
    height: 100vh;
    float: left;

}
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: scroll;
    height: 100vh;
    float: left;
    gap: 10px;
}

.list {
    list-style: none;
}