@page "/MoviesPage"
@using SEP6_Blazor.Models

<div class="main-content-article">
    <MultiSearchBar @bind-Result="SearchResults"/>
    <div>
        @if (SearchResults.ProductionResults.Count > 0)
        {
            @foreach (Production result in SearchResults.ProductionResults)
            {
                <div>@result.TVShowName - @result.Overview</div>
            }
        }
    </div>
</div>

@code {
    private Results SearchResults { get; set; } = new Results();

    protected override void OnInitialized()
    {
        SearchResults.ProductionResults = new List<Production>();
    }

}