.main-content-article {
    margin-top: 2.5rem;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #012436;
}

::-webkit-scrollbar-thumb {
    background: #086788;
}

::-webkit-scrollbar-thumb:hover {
    background: #075876;
}

/*horizontal scroll*/
:root {
    --gutter: 20px;
}

.content {
    padding: var(--gutter) 0;
}

.content > * {
    grid-column: 2 / -2;
}

.content > .full {
    grid-column: 1 / -1;
}

.hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: 10px;
    grid-template-rows: minmax(10rem, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - var(--gutter) * 2);

    overflow-x: auto;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));

    overflow-y: hidden;
    justify-content: space-between;
}

.hs::before,
.hs::after {
    content: '';
    width: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.content-header-title {
    margin-top: 1rem;
}

.content-header-title span {
    font-size: larger;
    font-weight: bold;
    margin: 1rem;
}