@page "/MoviesPage"

<div class="main-content">
    <MultiSearchBar @bind-Result="searchResults"/>
    <div>
        @if (searchResults != null)
        {
            @foreach (string result in searchResults)
            {
                <div>@result</div>
            }
        }
    </div>
</div>

@code {
    private string[] searchResults { get; set; }
}