.main-content-article {
    margin-top: 2.5rem;
}

.crew-member {
    margin: 2rem;
}

.crew-member-name {
    color: #FF7D00;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #012436;
}

::-webkit-scrollbar-thumb {
    background: #086788;
}

::-webkit-scrollbar-thumb:hover {
    background: #075876;
}

/*horizontal scroll*/
:root {
    --gutter: 20px;
}

.content {
    padding: var(--gutter) 0;
}

.content > * {
    grid-column: 2 / -2;
}

.content > .full {
    grid-column: 1 / -1;
}

.hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: 10px;
    grid-template-rows: minmax(10rem, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - var(--gutter) * 2);

    overflow-x: auto;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));

    overflow-y: hidden;
    justify-content: space-between;
}

.hs::before,
.hs::after {
    content: '';
    width: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.content-header-title {
    margin-top: 1rem;
}

.content-header-title span {
    font-size: larger;
    font-weight: bold;
    margin: 1rem;
}

/*movie info header*/

.header-main {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.header-image {
    width: 40%;
    max-height: 30rem;
    max-width: 25rem;
    min-width: 10rem;
}

.header-image img {
    width: 100%;
    height: 100%;
    margin: 1rem;
    margin-inline-start: 2rem;
}

.header-description {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    margin-inline-start: 3rem;
    margin-inline-end: 2rem;
}

.header-desc-text {
    height: auto;
    width: 100%;
    text-align: center;
    font-size: large;
    color: #FF7D00;
    font-family: "Book Antiqua", serif;
}

.header-name {
    font-size: xx-large;
    color: #FFF6E9;
}

.header-rating-small {
    display: none;
}

/*rating - author: https://codepen.io/hesguru/pen/BaybqXv*/

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

@media (max-width: 640px) {
    .header-desc-text {
        font-size: small;
    }

    .header-name {
        font-size: large;
    }
    
    .header-rating {
        display: none;
    }
    
    .header-rating-small {
        display: flex;
        margin: 1rem;
        align-items: center;
        justify-content: space-between;
    }
}