@using SEP6_Blazor.Models
@using SEP6_Blazor.Data

@inject IUserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IModalService ModalService

<div>
    @if (result.MovieName != null)
    {
        <div class="delete-text">Are you sure you want to delete the movie "@result.MovieName" from the list "@userList.ListName"?</div>
    }
    else
    {
        <div class="delete-text">Are you sure you want to delete the series "@result.TVShowName" from the list "@userList.ListName"?</div>
    }
    <button type="submit" class="button" @onclick="() => OnConfirm()">
        Confirm
    </button>
    <button type="submit" class="button" @onclick="() => OnCancel()">
        Cancel
    </button>
</div>



@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public UserList userList { get; set; }
    [Parameter] public Production result { get; set; }

    private async Task OnConfirm()
    {
        ModalInstance.CloseAsync(ModalResult.Ok<bool>(true));
    }
    
    private async Task OnCancel()
    {
        ModalInstance.CloseAsync(ModalResult.Ok<bool>(false));
    }
    
}