@using SEP6_Blazor.Models
@using SEP6_Blazor.Data

@inject IUserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IModalService ModalService

<div>
    <div class="delete-text">Are you sure you want to delete the list "@userList.ListName"?</div>
    <button type="submit" class="button" @onclick="() => OnConfrim()">
        Confirm
    </button>
    <button type="submit" class="button" @onclick="() => OnCancel()">
        Cancel
    </button>
</div>



@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public UserList userList { get; set; }

    private async Task OnConfrim()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok<bool>(true));
    }
    
    private async Task OnCancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok<bool>(false));
    }
    
}