@using SEP6_Blazor.Models
@using SEP6_Blazor.Data

@inject IUserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IModalService ModalService

<div>
    <div>
        <textarea class="add-review-input" @bind-value="@review.UserReview" @bind-value:event="oninput" type="text" cols="40" rows="4"></textarea>
    </div>
    <button type="submit" class="button" @onclick="() => OnConfrim()">
        Confirm
    </button>
    <button type="submit" class="button" @onclick="() => OnCancel()">
        Cancel
    </button>
</div>



@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public Review review { get; set; }

    private async Task OnConfrim()
    {
        await UserService.UpdateReview(review);
        await ModalInstance.CloseAsync();
    }
    
    private async Task OnCancel()
    {
        await ModalInstance.CloseAsync();
    }
    
}