
li,
.item {
    scroll-snap-align: center;
    padding: calc(var(--gutter) / 2 * 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #012436;
    border-radius: 8px;
    color: black;
    margin: 1rem;
    min-width: 20rem;
    height: 15rem;
}


/*scrollbar item*/

.poster-container {
    height: 100%;
    border-radius: inherit;
}

.poster-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: .5s ease;
    backface-visibility: hidden;
}

.poster-title-container {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.poster-container:hover .poster-image {
    opacity: 0.3;
}

.poster-container:hover .poster-title-container {
    opacity: 1;
}

.poster-title {
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.fullscreen {
    opacity: 1 !important;
    display: block;
    position: absolute;
    z-index: 9999;
    margin-left: auto;
    margin-right: auto;
    top: 80%;
    right: 0;
    left: 0;
    width: 80%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: #012436;
}