.page {
    display: flex;
    flex-direction: column;
    background-color: #001524;
    position: absolute;
    height: 100%;
    width: 100%;
}

main {
    flex: 1;
}

.main-content {
    background-color: #001524;
    color: white;
}

